<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hopscotch Application Test Automation">

	<listeners>
		<listener
			class-name="com.report.ExtentReporterNG" />
	</listeners>

	<test name="ClubownerFlow test">
		<classes>


			<class name="clubowner.Clubownerflow">



			</class>

		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->